body{
    margin: 0;
    padding: 0;
}
.title{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: brown;
}
.title h1{
    padding-top: 20px;
    color: white; 
}
.btn{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.btn-clean{
    width: 20%;
}
.btn-clean input{
    width: 100%;
    height: 200px;
    background-color: brown;
}
.btn-cookie{
    width: 20%;
}
.btn-cookie input{
    width: 100%;
    height: 200px;
    background-color: brown;
}
.btn-hist{
    width: 20%;
}
.btn-hist input{
    width: 100%;
    height: 200px;
    background-color: brown;
}
.displayy{
    display: flex;
    justify-content: space-around;
}
.padding1{
   /* margin-top: 50%; */
   padding: 40px;
   border: none;
   background-color: red;
   cursor: pointer;
}
.padding1:hover {
    background-color: black;
}
.padding1 i{
    font-size: 30px;
}